<template>
    <div class="container">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="width:30px"></th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Regular Hours</th>
              <th scope="col">Overtime hours</th>
              <th scope="col">Wage on Period</th>


            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, item) in users">
              <th scope="row"><small class="text-muted">#{{ user.id }}</small></th>
              <th><img width="40px" :src="user.photo" :alt="user.firstName"></th>
                <th>  <strong>{{ user.lastName }}, {{ user.firstName }}</strong></th>
              <th>{{ user.email }}</th>
              <th>{{ user.finalHours | hours}}</th>
              <th>{{ user.finalOvertime | hours }}</th>
              <th>{{ user.finalWage | money}}</th>



            </tr>

          </tbody>
      </table>
    </div>
</template>

<script>
    export default {

      props: ['users','lang'],
        data() {
          return {
            orderPrimary: 'finalWage',
            orderPrimaryDirection: 'desc',
          }
        },

        computed: {
        orderdItens: function () {
          const list = _.orderBy(this.users, this.orderPrimary,this.orderPrimaryDirection);
          if(_.isEmpty(filter)) {
            return list;
          }
          return list;
        }

        },

        filters: {
          updateList() {
              return _.orderBy(this.users, this.orderPrimary,this.orderPrimaryDirection)
          },
          simpledate(value) {
              return moment(value).format("MMM Do YY");
          },
          money(value) {
             return value; //format here
          },
          hours(value) {
             return value; //format here
          }

      },
      

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
